.footer-top {
    background-color: #1034A6;
    padding-top: 80px;
    padding-bottom: 30px;
 }
 
 .footer-bottom {
     background-color: #b114a0;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
 }
 
 footer .footer-links a,
 footer .social-icons a {
    color: white;
 }
 
 footer .social-icons a {
    font-size: 24px;
    padding: 10px;
 }
 
 footer .footer-links a {
    display: block;
    font-weight: 400;
 }
 
 footer .social-icons a:hover,
 footer .footer-links a:hover {
    color: #b114a0;
 }

 a {
    color: white;
    text-decoration: none;
 }