a {
    font-weight: 700;
    transition: all 0.4s ease;
}

.navbar {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.logo-text {
    font-size: 22px;
    text-transform: uppercase;
    color: #1034A6;
}

.navbar .nav-link {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.nav-link.active{
    color: #b114a0;
}