<section class="text-center">
    <div class="container">
        <div class="row">
            <div class="col-12 section-intro">
                <h1>Our Team</h1>
                <div class="hline"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-6 p-4 team-member">
                <div class="team-member-img">
                    <img src="assets/images/member1.jpg" alt="">
                    <div class="social-icons">
                        <a href="#"><i class="fa-brands fa-instagram"></i></a>
                        <a href="#"><i class="fa-brands fa-facebook"></i></a>
                        <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                        <a href="#"><i class="fa-brands fa-twitter"></i></a>
                    </div>
                </div>
                <div class="p-4 description">
                    <h5 class="title-sm mt-3 mb-0 text-white">John Smith</h5>
                    <small class="text-white">Web Designer</small>
                    <div class="hline"></div>
                    <p class="text-white">An expert in web design with over 10 years experience.</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 p-4 team-member">
                <div class="team-member-img">
                    <img src="assets/images/member3.jpg" alt="">
                    <div class="social-icons">
                        <a href="#"><i class="fa-brands fa-instagram"></i></a>
                        <a href="#"><i class="fa-brands fa-facebook"></i></a>
                        <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                        <a href="#"><i class="fa-brands fa-twitter"></i></a>
                    </div>
                </div>
                <div class="p-4 description">
                    <h5 class="title-sm mt-3 mb-0 text-white">Lilia Jhonson</h5>
                    <small class="text-white">Graphic Designer</small>
                    <div class="hline"></div>
                    <p class="text-white">An expert in graphic design with over 8 years experience.</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 p-4 team-member">
                <div class="team-member-img">
                    <img src="assets/images/member2.jpg" alt="">
                    <div class="social-icons">
                        <a href="#"><i class="fa-brands fa-instagram"></i></a>
                        <a href="#"><i class="fa-brands fa-facebook"></i></a>
                        <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                        <a href="#"><i class="fa-brands fa-twitter"></i></a>
                    </div>
                </div>
                <div class="p-4 description">
                    <h5 class="title-sm mt-3 mb-0 text-white">Xavier Blanco</h5>
                    <small class="text-white">UI/UX Designer</small>
                    <div class="hline"></div>
                    <p class="text-white">An expert in design with over 6 years experience.</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 p-4 team-member">
                <div class="team-member-img">
                    <img src="assets/images/member4.jpg" alt="">
                    <div class="social-icons">
                        <a href="#"><i class="fa-brands fa-instagram"></i></a>
                        <a href="#"><i class="fa-brands fa-facebook"></i></a>
                        <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                        <a href="#"><i class="fa-brands fa-twitter"></i></a>
                    </div>
                </div>
                <div class="p-4 description">
                    <h5 class="title-sm mt-3 mb-0 text-white">Marta Müller</h5>
                    <small class="text-white">Executive Manager</small>
                    <div class="hline"></div>
                    <p class="text-white">Team leader with over 14 years experience.</p>
                </div>
            </div>
        </div>
    </div>
    
</section>