<section>
    <div class="container">
        <div class="row">
            <div class="col-12 section-intro">
                <h1>Our Services</h1>
                <div class="hline"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6 p-4 service">
                <div class="icon-box">
                    <i class="fa-solid fa-brush"></i>
                </div>
                <h4 class="title-sm mt-4">Design</h4>
                <p>Custom design by our top artists.</p>
            </div>
            <div class="col-lg-4 col-sm-6 p-4 service">
                <div class="icon-box">
                    <i class="fa-solid fa-laptop"></i>
                </div>
                <h4 class="title-sm mt-4">Digital Versions</h4>
                <p>Digital versions for every design we produce.</p>
            </div>
            <div class="col-lg-4 col-sm-6 p-4 service">
                <div class="icon-box">
                    <i class="fa-solid fa-forward"></i>
                </div>
                <h4 class="title-sm mt-4">Fast Realisation</h4>
                <p>Maximum of two weeks to develop your brand.</p>
            </div>
            <div class="col-lg-4 col-sm-6 p-4 service">
                <div class="icon-box">
                    <i class="fa-solid fa-chess-knight"></i>
                </div>
                <h4 class="title-sm mt-4">Long-term Strategy</h4>
                <p>A 2 year plan for the future of your brand.</p>
            </div>
            <div class="col-lg-4 col-sm-6 p-4 service">
                <div class="icon-box">
                    <i class="fa-solid fa-globe"></i>
                </div>
                <h4 class="title-sm mt-4">Establishing Connections</h4>
                <p>Working with top companies in this field.</p>
            </div>
            <div class="col-lg-4 col-sm-6 p-4 service">
                <div class="icon-box">
                    <i class="fa-solid fa-money-bill-trend-up"></i>
                </div>
                <h4 class="title-sm mt-4">Fast Profit</h4>
                <p>Quickly raise your estimated profit.</p>
            </div>
        </div>
    </div>
</section>