<section class="row g-0">
    <div class="col-lg-4 col-sm-6">
        <div class="portfolio-item">
            <div class="portfolio-img">
                <img src="assets\images\youtube.jpg" alt="">
                <div class="portfolio-overlay">
                    <div>
                        <h3>YouTube 3D Model</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6">
        <div class="portfolio-item">
            <div class="portfolio-img">
                <img src="assets\images\spotify.jpg" alt="">
                <div class="portfolio-overlay">
                    <div>
                        <h3>Spotify 3D Model</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6">
        <div class="portfolio-item">
            <div class="portfolio-img">
                <img src="assets\images\linkedin.jpg" alt="">
                <div class="portfolio-overlay">
                    <div>
                        <h3>LinkedIn 3D Model</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6">
        <div class="portfolio-item">
            <div class="portfolio-img">
                <img src="assets\images\netflix.jpg" alt="">
                <div class="portfolio-overlay">
                    <div>
                        <h3>Netflix 3D Model</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6">
        <div class="portfolio-item">
            <div class="portfolio-img">
                <img src="assets\images\whatsapp.jpg" alt="">
                <div class="portfolio-overlay">
                    <div>
                        <h3>WhatsApp 3D Model</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6">
        <div class="portfolio-item">
            <div class="portfolio-img">
                <img src="assets\images\twitter.jpg" alt="">
                <div class="portfolio-overlay">
                    <div>
                        <h3>Twitter 3D Model</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>